.aboutme-section {
  margin: 5rem 0;
}
.aboutme-container {
  width: 80vw;
  padding: 6rem;
  box-shadow: 0 0.4rem 1.2rem rgba(0, 0, 0, 0.1);
  margin-top: 0rem;
  background-color: #fff;
  border-radius: 0.5rem;
}
.profile-links {
  justify-content: center;
}

.profile-links a {
  display: block;
  color: blueviolet;
}
.edit-ptofile-button {
  align-items: flex-end;
  text-align: center;
  justify-content: center;
  float: left;
}
