.aboutus-section {
  background: #000;
  margin-top: 5rem;
  padding-bottom: 1rem;
}
.aboutus-container {
  width: 80%;
}
.aboutus-section .title {
  color: aliceblue;
}
.aboutus-section .heading {
  color: aliceblue;
}

.aboutus-section .description {
  color: azure;
  font-size: 15px;
}

/* 2nd section of about us  */
.aboutus-section-rightside-img {
  /* background-color: aqua; */
  text-align: center;
  justify-content: center;
  display: flex;
}

.aboutus-section img {
  width: 400px;
  height: 400px;
  /* margin-top: 0rem; */
  /* box-shadow: rgba(0, 0, 0, 0.25) 0.8rem 0.8rem 0.8rem 0.8rem; */
  /* border-radius: 1.5rem; */
}
