/* --------------------------------- Sign Up Section starts  
                        -------------------------------------------------------*/
.signup-section {
  margin: 5rem 0;
}
.signup-container {
  width: 80vw;
  padding: 6rem;
  box-shadow: 0 0.4rem 1.2rem rgba(0, 0, 0, 0.1);
  margin-top: 0rem;
  background-color: #fff;
  border-radius: 0.5rem;
}

.signup-leftside img {
  min-width: 80%;
  max-height: 30rem;
  height: auto;
}

.signup-input-feild {
  margin-bottom: 4rem;
}

.signup-rightside form .form-control {
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  height: 5rem;
  border-radius: 0.5rem;
  font-size: 1.6rem;
  padding-left: 1rem;
  font-weight: lighter;
}

.signup-rightside form .form-check-input {
  width: 2rem;
  height: 2rem;
}

.form-checkbox-style {
  margin: 4rem 0;
}

.signup-rightside form .main-hero-para {
  font-size: 1.5rem;
  color: var(--text-color);
  margin: 0;
  font-weight: lighter;
  width: 75%;
  padding: 0 2rem;
}
/* --------------------------------- Sign Up Section ends  
                                                                            -------------------------------------------------------*/
